
   <div class="headline">
  <div  class="alert alert-primary" role="alert">
    <div class="title">Page Speed Compare</div>
  </div>
</div>
<div class="audit">
  <div class="input-group input-group-sm mb-3">
    <input type="text" [(ngModel)]="inputUrl.pageUrl" name="pageUrl" class="form-control" placeholder="Enter a page URL" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <input type="text" [(ngModel)]="inputUrl.apiKey" name="apiKey" class="form-control" placeholder="Enter an API key" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
      <button class="btn btn-outline-secondary" (click)="submitPageSpeed()" type="button">Run audit</button>
    </div>
  </div>
</div>
  


  


<div>
    <h1>PSI score:</h1>
    <pre>{{response.lighthouseResult.categories.performance.score | json}}</pre>
  </div>
  <div>
    <h1>PSI metrics:</h1>
    <pre>{{response.loadingExperience.metrics | json}}</pre>
  </div>
  <div>
    <h1>PSI Lighthouse to analyze a URL:</h1>
    <pre>{{response.lighthouseResult.audits['interactive'] | json}}</pre>
  </div>
  <div>
<h1>Lighthouse report opportunities:</h1>
    <pre>{{response.lighthouseResult.audits['uses-rel-preload'] | json}}</pre>
</div>
 
  <button (click)="fetchData()"> Get  </button>
